*{
    margin:0;
    padding: 0;
}
header{
    height: 60px;
    width: 100%;
    background: seagreen;
    line-height: 60px;
    color: #fff;
}
.box{
    height: 100%;
    width: 960px;
    margin: 0 auto;
}
.game_container{
    margin-top: 20px;
    height: 600px;
    width: 100%;
}
.game_container .box{
    height: 600px;
    width: 600px;
    background: #000000;
    position: relative;
}
.food{
    position: absolute;
    height: 10px;
    width: 10px;
    background:red;

    border-radius: 50%;
    animation: food_fade 1s infinite ease-in-out;
}

@keyframes food_fade {
    60%{
        opacity: 1;
    }
    to{
        opacity: .2;
    }
}